.cb-page-background {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../../assets/background.png");
  height: 100vh;
  background-size: cover;
  background-position: center;

  .header-area {
    flex-basis: 64px;
    flex-shrink: 0;
    -webkit-box-shadow: 0 4px 17px -9px rgba(255,255,255,1);
    -moz-box-shadow: 0 4px 17px -9px rgba(255,255,255,1);
    box-shadow: 0 4px 17px -9px rgba(255,255,255,1);


    .content {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  .main-content {
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    max-height: calc(100vh - 68px);
    overflow: auto;
  }

  .header-link {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
}
