// create this style sheet without any scss boundary classes to use these generic classes in
// anywhere in the application without using FlexBox component.

.d-flex {
  display: flex;
}

// flex align items
$align-items: 'center' center, 'flex-start' flex-start, 'flex-end' flex-end, 'start' start, 'end' end;
@each $name, $value in $align-items {
  .ai-#{$name} {
    align-items: $value;
  }
}
// flex justify contents
$justify-contents: 'flex-start' flex-start, 'flex-end' flex-end, 'center' center, 'space-between' space-between, 'space-around' space-around, 'space-evenly' space-evenly;
@each $name, $value in $justify-contents {
  .jc-#{$name} {
    justify-content: $value;
  }
}

// flex directions
$flex-directions: 'row' row, 'column' column;
@each $name, $value in $flex-directions {
  .fd-#{$name} {
    flex-direction: $value;
  }
}

.h-100 {
  height: 100%
}

.wrap {
  flex-wrap: wrap;
}